
.app-page-settings {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}


.app-page-header-end {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  margin-left: auto;
}
